.about-us__title {
  margin-bottom: 40px;
}

.about-us {
  
}

.about-us__rooms-img {

}

.about-us__block1 {
  width: 600px;
  height: 596px;
}

.about-us__block2 {
  display: flex;
  width: 500px;
  height: 596px;
  flex-direction: column;
  justify-content: space-between;
}

.about-us__blockquote-text {
  max-width: 270px;
  height: 84px;
}

.about-us__quote {
  margin-bottom: 59px;
}

.about-us__quote p {
  margin: 0 0 54px 0;
}

.about-us__quote p:nth-child(2) {
  margin: 0;
}

.about-us__review {
  max-width: 469px;
  height: 191px;
  color: #FFF;
  font-size: 44px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
  margin: 0 0 40px 0;
  white-space: break-spaces;
}

.about-us__blockquote {

}

.about-us__blockquote-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.about-us__wrapper{
  display: flex;
  gap: 80px;
}

.about-us__block3{
  display: flex;
  max-width: 500px;
  height: 84px;
  GAP: 29px;
  justify-content: flex-end;
}
