.faq__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq__item {
  display: flex;
  height: 87px;
  background-color: #fff;
  color: #1C1A1A;
  font-weight: 700;
  font-size: 24px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
}

.faq__item-btn {
  width: 46px;
  height: 46px;
}

.faq__item-btn:nth-child(odd) {
  background-image: url("../icons/open-purple.svg");
}

.faq__item-btn:nth-child(odd):hover {
  background-image: url("../icons/open-purple-hover.svg");
}

.faq__item-btn:nth-child(odd):active {

  background-image: url("../icons/close-purple-active.svg");
}

.faq__item:nth-child(even) .faq__item-btn {
  background-image: url("../icons/open.svg");
}

.faq__item:nth-child(even) .faq__item-btn:hover {
  background-image: url("../icons/open-hover.svg");
}

.faq__item:nth-child(even) .faq__item-btn:active {
  background-image: url("../icons/close-active.svg");
}

.faq__item:nth-child(even) {
  background-color: #440F51;
  color: white;
}
