.footer-style {
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.contacts-title {
  margin-bottom: 40px;
}

.address {
  margin-bottom: 39px;
  width: 440px;
}

.address__list {
  display: flex;
  flex-direction: column;
}

.address__text {
  white-space: pre-line;
}

.address__item:first-child {
  display: flex;
  gap: 28px;
  height: 61px;
  font-style: normal;
  font-weight: 700;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  align-items: center;
}

.address__item {
  display: flex;
  gap: 28px;
  height: 32px;
  font-style: normal;
  font-weight: 700;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.address__img {
  width: 32px;
  height: 32px;
}

.address__link {
  color: #fff;
}

.social__list {
display: flex;
gap: 26px;
margin-bottom: 10px;
}

.social__item {
  width: 50px;
  height: 50px;
}

.social__link  {
  color: #fff;
  font-size: 0;
}

.social__link:hover {
  color: #CD06FF;
}

.social__link:focus {
  outline-color: #CD06FF;
}

.social__link:active {
  color: #840AA3;
}

.contacts-wrapper {
  display: flex;
  gap: 60px;
  padding-bottom: 204px;
}

.contacts__block-left {
  width: 440px;
}

.contacts-block-right {
  width: 680px;
}

.address__item-moscow {
  margin-bottom: 39px;
}

.address__item-tel {
  margin-bottom: 14px;
}