.footer-style {
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
  padding-bottom: 21px;
}

.contacts-title {
  margin-bottom: 40px;
}

.address {
  margin-bottom: 39px;
  width: 440px;
}

.address__list {
  display: flex;
  flex-direction: column;
}

.address__text {
  white-space: pre-line;
}

.address__item:first-child {
  display: flex;
  gap: 28px;
  height: 61px;
  font-style: normal;
  font-weight: 700;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  align-items: center;
}

.address__item {
  display: flex;
  gap: 28px;
  height: 32px;
  font-style: normal;
  font-weight: 700;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.address__img {
  width: 32px;
  height: 32px;
}

.address__link {
  color: #fff;
}

.social__list {
display: flex;
gap: 26px;
margin-bottom: 10px;
}

.social__item {
  width: 50px;
  height: 50px;
}

.social__link  {
  color: #fff;
  font-size: 0;
  transition: 0.4s;
}

.social__link:hover {
  color: #EADEED;
}

.social__link:focus {
  outline-color: var(--main-color);
}

.social__link:active {
  color: var(--main-color);
}

.contacts-wrapper {
  display: flex;
  gap: 60px;
  margin-bottom: 145px;
}

.contacts__block-left {
  width: 440px;
}

.contacts-block-right {
  width: 680px;
}

.address__item-moscow {
  margin-bottom: 39px;
}

.address__item-tel {
  margin-bottom: 14px;
}

.footer__author {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 6px;
  font-size: 14px;
  line-height: 16px;
}

.footer__design {
  justify-self: end;
}

.footer__email {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: end;
}