.header {
  font-size: 22px;
  text-transform: uppercase;
  line-height: 50px;
}

.nav-block {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 25px;
  align-items: center;
}

.header__burger {
  display: none;
}

.navigation__list {
  display: flex;
  gap: 40px;
}

.header__button {
  width: 280px;
  height: 55px;
  flex-shrink: 0;
  color: #FFF;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  border-radius: 10px;
  border: 3px solid var(--main-color);
  transition: 0.4s;
}

.header__button:hover {
  width: 280px;
  height: 55px;
  flex-shrink: 0;
  color: #FFF;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  border-radius: 10px;
  border: 3px solid var(--main-color);
  background-color: #6C0287;
}

.header__button:active {
  width: 280px;
  height: 55px;
  flex-shrink: 0;
  color: #FFF;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  border-radius: 10px;
  border: 1px solid #000;
  background-color: #640AA3;
}

.header__button:focus {
  width: 280px;
  height: 55px;
  flex-shrink: 0;
  color: #FFF;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  border-radius: 10px;
  background: #6C0287;
}

/* 80 vibes */

.header__back {
  display: inline-block;
  font-weight: 700;
  text-transform: none;
  font-size: 22px;
  line-height: 28px;
  vertical-align: middle;
}

.header__back:before {
  display: inline-block;
  content: "";
  background: url("../icons/arrow-back.svg") no-repeat center;
  background-size: contain;
  width: 30px;
  height: 28px;
  margin-right: 10px;
  vertical-align: middle;
}

@media (max-width: 1200px) {
  .header {
    font-size: 18px;
    line-height: 22px;
  }

  .header__logo {
    width: 87px;
    height: 55px;
  }
  
  .nav-block {
    padding: 30px 0 50px;
  }
  
  .navigation__list {
    gap: 20px;
  }
  
  .header__button {
    width: 229px;
    height: 45px;
    line-height: 24px;
    border-radius: 8px;
  }
  
  .header__button:hover {
    width: 229px;
    height: 45px;
    line-height: 24px;
    border-radius: 8px;
  }
  
  .header__button:active {
    width: 229px;
    height: 45px;
    line-height: 24px;
    border-radius: 8px;
  }
  
  .header__button:focus {
    width: 229px;
    height: 45px;
    line-height: 24px;
    border-radius: 8px;
  }
}


@media (max-width: 900px) {
  .header__burger {
    display: block;
    position: relative;
    width: 54px;
    height: 29px;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    position: absolute;
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    background-color: #6C0287;
    border-radius: 2px;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    width: 31px;
    bottom: 0;
  }

  .header__burger span {
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    top: 12px;
    background-color: #6C0287;
    border-radius: 2px;
  }

  .navigation {
    display: none;
  }

  .header__burger-link {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .header__back {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .header__burger {
    width: 39px;
    height: 20px;
  }

  .header__burger::before,
  .header__burger::after {
    height: 3.45px;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    width: 22px;
    bottom: 0;
  }

  .header__burger span {
    position: absolute;
    width: 100%;
    height: 3.45px;
    left: 0;
    top: 8px;
    background-color: #6C0287;
  }

  .header__button {
    display: none;
  }

  .header__back {
    font-size: 12px;
    height: 16px;
    line-height: 1;
  }

  .header__back:before {
    width: 16px;
    height: 100%;
    margin-right: 6px;
    vertical-align: middle;
  }
}
