.options__list {
  display: flex;
  justify-content: space-between;
  height: calc(var(--cart-height) * 2 + var(--gap-vertial) + 70px);
  gap: var(--gap);
}

.options__item {
  width: 100%;
  height: 228px;
  padding-top: 166px;
  background-repeat: no-repeat;
  background-position: 0 25%;
  background-size: cover;
  transition: 0.8s;
}

.options__item:hover {
  transform: scale(1.1);
}

.options__item-vr {
  background-image: url("../image/vr.jpg");
}

.options__item-audio {
  background-image: url("../image/audio.jpg");
}

.options__item-micro {
  background-image: url("../image/micro.jpg");
}

.options__item-game {
  background-image: url("../image/game.jpg");
}

.options__item-netflix {
  background-image: url("../image/netflix.jpg");
}

.options__item-sony {
  background-image: url("../image/sony.jpg");
}

.options__text {
  font-weight: 700;
  width: 300px;
  margin-left: 40px;
}

.options__item-start {
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-vertial);
}

.options__item-end {
  display: flex;
  align-self: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-vertial);
  justify-content: center;
}

.options__item-start {
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-vertial);
}