.options {

}

.options__item {

}

.options__link {

}

.options__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.options__title {

}

.options__figure {

}

.options__figure-caption {
  width: 300px;
  text-align: center;
}
