.reserv__container{
  max-width: 1500px;
  padding: 0 30px;
  margin: 0 auto;}


.reserv__modal{
  background-color: #440F51;
  padding: 80px 130px 80px;
}

.reserv__form-title{
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  margin-bottom: 40px;
}

.reserv__form-rooms-input{
  flex-basis: 250px;
  display: none;
}

.reserv__form-rooms {
  width: 100%;
  margin-bottom: 60px;
}

.reserv__form-rooms-btn{
  border: 1px solid;
  padding: 7px 15px 8px;
  border-radius: 8px;
  background: #FFF;
  color: #000;
  text-align: center;
  font-family: Arial;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 133.333% */
  text-transform: uppercase;
}

.reserv__form-rooms-wrapper {
  display: flex;
  gap: 60px;
  justify-content: space-between;
}

.reserv__form-entertainment{
  margin-bottom: 60px;
}

.reserv__form-entertainment-wrapper {
  display: flex;
  gap: 100px;
  justify-content: flex-start;
  padding-left: 100px;
}

.reserv__form-entertainment-console{
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.reserv__form-entertainment-table{
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reserv__form-entertainment-add{
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.reserv__form-entertainment-block{
  display: flex;
}

.reserv__form-entertainment-text{
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
}

.reserv__form-entertainment-radio{
  width: 27px;
  height: 27px;
  margin-right: 12px;
}

.reserv__form-entertainment-label{
  font-family: Arial;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.reserv__form-entertainment-checkbox{
  width: 27px;
  height: 27px;
  margin-right: 12px;
}

.reserv__form-reg-wrapper{
  display: flex;
  gap: 50px;
  justify-content: flex-start;
  padding-left: 100px;
}

.reserv__form-reg-block1{
  display: flex;
  gap: 32px;
  flex-basis: 300px;
  justify-content: center;
  flex-wrap: wrap;
}

.reserv__form-reg-block2{
  display: flex;
  gap: 36px;
  flex-basis: 280px;
  justify-content: center;
  flex-wrap: wrap;
}

.reserv__form-reg-block3{
  display: flex;
  gap: 36px;
  flex-basis: 300px;
  justify-content: center;
  flex-wrap: wrap;
}

.reserv__form-reg-date{
  /* display: block; */
  display: flex;
  width: 134px;
  height: 52px;
  padding: 0 27px 0 20px;
  align-items: center;
  justify-content: space-between;
  background-color: #FFF;
  color: #211E1E;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.reserv__form-reg-time{
  /* display: block; */
  display: flex;
  width: 134px;
  height: 52px;
  padding: 0 27px 0 20px;
  align-items: center;
  justify-content: space-between;
  background-color: #FFF;
  color: #211E1E;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.reserv__form-reg-number{
  /* display: block; */
  display: flex;
  width: 300px;
  height: 52px;
  padding: 0 27px 0 20px;
  align-items: center;
  justify-content: space-between;
  background-color: #FFF;
  color: #211E1E;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}

.reserv__form-reg-input{
  display: none;
}

.reserv__form-reg-block-name{
  position: relative;
  width: 100%;
}

.reserv__form-reg-input-name{
  height: 52px;
  width: 100%;
}

.reserv__form-reg-name{
  position: absolute;
  bottom: 54px;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
}

.reserv__form-reg-block-surname{
  position: relative;
  width: 100%;
}

.reserv__form-reg-input-surname{
  height: 52px;
  width: 100%;
}

.reserv__form-reg-surname{
  position: absolute;
  bottom: 54px;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
}

.reserv__form-reg-block-phone{
  position: relative;
  width: 100%;
}

.reserv__form-reg-input-phone{
  height: 52px;
  width: 100%;
}

.reserv__form-reg-phone{
  position: absolute;
  bottom: 54px;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
}

.reserv__form-reg-block-email{
  position: relative;
  width: 100%;
}

.reserv__form-reg-input-email{
  height: 52px;
  width: 100%;
}

.reserv__form-reg-email{
  position: absolute;
  bottom: 54px;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
}