.review__wrapper{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.review__name{
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 20px;
}

.review__img{
  height: 280px;
}

.review__text{
  width: 680px;
  height: 88px;
  padding-top: 52px;
}

.review__figure{
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.review__figure-caption{
  align-self: center;
}
