.presentation {
  padding: 20px 0 50px;
}

.presentation__container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 100px;
}

.presentation__img {
  display: block;
  position: relative;
  margin: 0 auto;
}

.presentation__title {
  text-align: center;
  position: absolute;
  font-size: 90px;
  line-height: 80px;
  font-weight: 700;
  letter-spacing: normal;
  top: 525px;
  text-transform: uppercase;
}

.presentation__text {
  width: 1000px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 150%;
}

.features {
  padding: 50px 0 50px
}

.pages__title {
  margin-bottom: 40px;
}

.features__text {
  display: flex;
  align-items: center;
  gap: 80px;
}

.text-features__content-desc {
  margin-bottom: 15px;
}

.text-features__img {
  height: 424px;
  width: 600px;
}

.other {
  padding: 50px 0 100px;
}

.other__preview {
  display: flex;
  gap: 20px;
}

.preview-other__link {
  display: block;
  position: relative;
}

.preview-other__link-style {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: 700;
  width: 100px;
  text-align: center;
  text-transform: uppercase;
  line-height: 120%;
}

.other__preview-img {
  display: flex;
  height: 229px;
}

@media (max-width: 1200px) {
  .presentation {
    padding: 20px 0 35px;
  }
  .presentation__container {
    row-gap: 70px;
  }
  
  .presentation__img {
    max-width: 1024px;
    max-height: 534px;
  }
  
  .presentation__title {
    top: 400px;
  }
  
  .presentation__text {
    width: 800px;
    font-size: 20px;
  }
  
  .features {
    padding: 35px 0 35px
  }
  
  .pages__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 36px;
  }
  
  .features__text {
    gap: 30px;
  }
  
  .text-features__content-desc {
    font-size: 18px;
  }
  
  .text-features__img {
    height: 326px;
    width: 461px;
  }
  
  .other {
    padding: 35px 0 70px;
  }

  .other__preview {
    justify-content: space-between;
  }
  
  .other__preview-img {
    height: 172px;
  }
}