/* .rooms {

} */

.rooms__list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.rooms__title {
  margin-bottom: 40px;
}

.rooms__item {
  flex-basis: 580px;
  height: 349px;
  padding-top: 94px;
  background-repeat: no-repeat;
  background-position: 0 25%;
  background-size: cover;
}

.rooms__link {
  display: block;
  width: 252px;
  margin: 0 auto;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 114.286% */
  text-transform: uppercase;
}

.rooms__item_vibe {
  text-align: center;
  background-image: url("../image/vibe.jpg");
}

.rooms__item_star {
  text-align: center;
  background-image: url("../image/starwars.jpg");
}

.rooms__item_west {
  text-align: center;
  background-image: url("../image/wildwest.jpg");
}

.rooms__item_neon {
  text-align: center;
  background-image: url("../image/neon.jpg");
}

.title-reservation {
  border: none;
  padding: 0;
}