.section-one {
  height: 898px;
}

.section-one__title {
  position: relative;
  z-index: 0;
}

.section-one__title::after{
  content: '';
  position: absolute;
  right: 0;
  top: 61px;
  width: 675px;
  height: 762px;
  background-image: url(../image/vr.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.section-one__block{
  z-index: 1;
  display: flex;
  height: 360px;
  width: 505px;
}

.section-one__block-text{
  display: flex;
  gap: 43px;
  flex-wrap: nowrap;
  align-items: flex-start;
  text-align: center;
  margin-right: 108px;
  height: 209px;
}

.section-one__block-text-list-room{
  align-self: flex-start;
  height: 141px;
  width: 193px;
}

.section-one__block-text-list-new{
  align-self: flex-end;
  height: 174px;
  width: 161px;
}

.section-one__block-text-item{
  color: #FFF;
  font-size: 30px;
  height: 68px;
}

.section-one__block-text-item-4{
  display: flex;
  align-items: center;
  color: #CD06FF;
  font-size: 100px;
  font-weight: 900;
  height: 141px;
  width: 67px;
  margin: 0 auto;
}

.section-one__block-text-item-new{
  display: flex;
  align-items: center;
  color: #CD06FF;
  font-size: 75px;
  font-weight: 900;
  font-variant: all-small-caps;
  height: 106px;
  width: 166px;
  margin: 0 auto;
}

.section-one__text{
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 30px;
  padding: 0 0 0 100px;
}

.section-one__button-reserv{
  color: #FFF;
  font-family: Arial;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 115.385% */
  text-transform: uppercase;
  border-radius: 10px;
  background: #6C0287;
  width: 374px;
  height: 80px;
}

.section-one__button{
  display: flex;
  align-items: flex-start;
  gap: 165px;
  height: 144px;
}

.button-down{
  z-index: 1;
  align-self: flex-end;
}