:root {
  --main-color: #CD06FF;
}

.reserv {
  --main-color: #440F51;
  --border-color: #CD06FF;
  --effect-color: #6C0287;
}

.faq {
  --main-color: #440F51;
}

.options {
  --gap: 20px;
  --gap-vertial: 40px;
  --cart-height: 228px;
}